p, h1, h2, h3, a, ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 26px 0;
}

.menu{
    display: flex;
}

.menu>li{
    margin-right: 46px;
}
.menu>li:last-child{
    margin-right: 0px;
}
.menu>li>a{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #443737;
    font-family: "Open Sans";
}
.can>button{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    color: #443737;
    display: flex;
    align-items: center;
    border: 0;
    background: none;
}
.fon{
    background-image: url(../img/main.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 142px;
    padding-bottom: 141px;
}
.chil{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #faf9f9;
}
.lol{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #faf9f9;
}
.main>h1{
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 79px;
    color: #fff;
}
.b-top{
    background-image: url(../img/bfo.svg);
    background-repeat: no-repeat;
    block-size: cover;
}
.b-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.b-top1{
    padding-top: 123px;
    padding-bottom: 100px;
}

.oval>h3{
    background-color:#F37335;
    border-radius: 14px;

    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 5px 19px 5px 17px;
}
.b-top>h2{
    font-family: "NovaMono";
    font-weight: 400;
    font-size: 60px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
}
.b-top>p{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
    max-width: 308px;
    padding-bottom: 15px;
}
.b-top>button{
    border: 0;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: #1e2f40;
    background: #fbb731;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
}
.burgers{
    display: flex;
    flex-wrap: wrap;
}

.ma{
    padding-bottom: 34px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    color: #1b2a49;
}

item>p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #979797;
}

item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 100px;
}
.last-child{
    padding: 0;
}

item>button{
    border-radius: 5px;
    background: #fbb731;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: #1e2f40;
    border: 0;
    padding: 10px 30px 10px 29px;
}
item>button>img{
    margin-right: 5px;
}
item>h3{
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    text-align: center;
    color: #1b2a49;
}

.add{
   padding-bottom: 140px;
}
.dop{
    padding-bottom: 34px;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    color: #1b2a49;
}

.addsome{
    display: flex;
    flex-wrap: wrap;

}

footer{
background: #1e2f40;
}
.information{
    
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 111px 0 106px 0;
}

.mainlink>p{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #dedede;
    padding-bottom: 9px;
}
.mainlink>h2{
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 12px;
}
.maininfo>p{
    padding-top: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #dedede;
    
}
.maininfo>h2{
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: #fff;
}
.maininfo>h3{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
}
.tele>p{
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: #fbb731;
}

