p, h1, h2, h3, a, ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 26px 0;
}

.menu{
    display: flex;
}

.menu>li{
    margin-right: 46px;
}
.menu>li:last-child{
    margin-right: 0px;
}
.menu>li>a{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #443737;
    font-family: "Open Sans";
}
.can>button{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    color: #443737;
    display: flex;
    align-items: center;
    border: 0;
    background: none;
}
.fon{
    background-image: url(../img/main.svg);
    background-repeat: no-repeat;
    block-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 142px;
    padding-bottom: 141px;
}
.chil{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #faf9f9;
}
.lol{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #faf9f9;
}
.main>h1{
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 79px;
    color: #fff;
}